h2 {
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-style: italic;
    color: #f2045b;
    font-size: 2.5rem;
}

h5 {
    font-family: 'Press Start 2P', cursive;
    color: #f2045b;
    font-size: 0.8rem;
}
p {
    font-family: 'Press Start 2P', cursive;
    color:#f2045b;
}

a {
    font-family: 'Press Start 2P', cursive;
    color:white;
}


.heading {
    border-radius: 15px;
    background: #ffd900;
    padding:5px;
    width:900 px;
    margin-bottom:10px;
    border-style: solid;
    border-width: 5px;
    border-color: #f2045b;
}

body {
    width:auto;
    margin: auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#270089;
    border-right:70px solid #f2045b;
    border-left:70px solid #f2045b;
}


.sketches {
    display: block;
    text-align: center;
}


iframe {
    background-color: aquamarine;
    border-radius: 15px;
    width:900px;
    height:600px;
}

#drag {
    background-color: #f2045b;
    display: block;
    align-items: center;
    justify-content: center;
    width:900px;
    height:600px;
    padding:5px;
    margin-bottom:10px;
  }

#description {
    background-color:#270089;
    padding:30px;
    width:840px;
    margin:0;
    text-align: left;
}


#demo {
    background-color:#270089;
    padding:30px;
    width:840px;
    margin:0;
    margin-top:10px;
    text-align: left;
}

video{
    border-radius: 15px;
    margin-top:20px;
}

#description p{
    color: white;
    font-size: 0.7rem;
    line-height: 140%;
    margin-top:20px;
}

#description a{
    color:#ffd900;
    font-size: 0.7rem;
    line-height: 200%;
    margin-top:20px;
}

#description a:hover{
    color:#f2045b;
    transition-delay: 0.1s;
}

